@charset "UTF-8";
body {
  font-family: 微软雅黑;
  padding: 0;
  margin: 0;
  min-width: 1920px; }

.header {
  background: #006ab8;
  font-size: 18px;
  color: white;
  height: 30px;
  position: relative;
  padding: 14px 0 14px 0;
  vertical-align: middle; }
  .header .company {
    padding-left: 305px;
    float: left; }
  .header .tel {
    position: relative;
    padding-right: 312px;
    float: right; }
    .header .tel img {
      margin: 5px 4px 0 0;
      float: left; }
    .header .tel div {
      float: right; }

.nav {
  height: 78px;
  padding: 0px 0px 0 313px;
  position: relative; }
  .nav .logo {
    margin-top: 29px;
    float: left; }
  .nav ul {
    padding: 0;
    margin: 0;
    float: left;
    margin-top: 32px;
    margin-left: 149px; }
    .nav ul li {
      font-size: 18px;
      font-weight: 550;
      float: left;
      list-style: none;
      margin-right: 32px; }
      .nav ul li span {
        color: #5d6e80; }
      .nav ul li .checked {
        color: #00d6b3; }

.foot {
  padding-top: 64px;
  text-align: center;
  align: center;
  height: 434px;
  background-color: #006ab8; }
  .foot .company {
    line-height: 66px;
    color: white;
    width: 655px;
    height: 203px;
    padding: 34px 22px 34px 22px;
    margin: 0 auto;
    border: 1px solid white;
    font-size: 34px;
    text-align: center; }
  .foot .footNav {
    text-align: center;
    color: white;
    width: 785px;
    margin: 0 auto; }
    .foot .footNav ul {
      padding: 60 0 0 0;
      margin: 0; }
      .foot .footNav ul li {
        font-size: 18px;
        font-weight: 550;
        float: left;
        list-style: none;
        margin: 0px 32px 0px 0px; }

.gap {
  height: 105px; }

.clear {
  clear: both;
  height: 0;
  line-height: 0;
  font-size: 0; }

.home {
  text-align: center; }
  .home .module {
    height: 612px;
    background-image: url(../images/product3_banner.jpg); }
  .home .productIntro {
    margin: 0 auto;
    padding: 79 0 0 0;
    width: 610px;
    font-size: 40px; }
    .home .productIntro .product {
      color: #00d6b3; }
    .home .productIntro .intro {
      color: #2c3e50; }
  .home .productIntroCN {
    font-size: 30px;
    color: #2c3e50;
    padding: 28 0 0 0; }
  .home .productNav {
    height: 230px;
    width: 1800px;
    margin: 0 auto;
    padding: 62 0 0 0; }
    .home .productNav ul {
      padding: 0 30 0 30;
      margin: 0; }
      .home .productNav ul li {
        font-size: 18px;
        font-weight: 550;
        float: left;
        list-style: none;
        margin: 0px 32px 0px 32px; }
  .home .reason {
    padding: 62 0 0 0;
    margin: 0 auto; }
  .home .companyIntro {
    padding-top: 40px;
    height: 272px;
    width: 1000px;
    margin: 0 auto;
    position: relative; }
    .home .companyIntro .companyIntroContent {
      float: left;
      width: 500;
      color: #757575; }
      .home .companyIntro .companyIntroContent .title {
        text-align: left;
        width: 450;
        font-size: 20px;
        border-bottom: 1px dashed;
        padding: 12px; }
      .home .companyIntro .companyIntroContent .content {
        text-align: left;
        width: 450;
        font-size: 16px;
        line-height: 32px;
        padding-top: 20px; }
    .home .companyIntro .companyBg {
      float: left;
      width: 500; }
  .home .feature {
    padding: 88 0 88 0;
    margin: 0 auto;
    postion: relative;
    width: 1300;
    height: 700px; }
    .home .feature .item-up {
      margin: 30px;
      float: left; }
    .home .feature .item-down {
      padding-top: 200px;
      float: left; }

.wifiHire {
  text-align: center; }
  .wifiHire .module {
    margin: 0 auto;
    height: 612px;
    background-image: url(../images/product4_banner.jpg); }
  .wifiHire .moduleNav {
    margin: 0 auto;
    padding: 79 0 0 0; }
    .wifiHire .moduleNav ul {
      display: inline-block;
      margin: 0px;
      padding: 0px; }
      .wifiHire .moduleNav ul li {
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 36px;
        color: ffffff;
        background-color: #006ab8;
        padding: 20 46 20 46; }
  .wifiHire .wifibg {
    padding: 64 0 0 0; }
  .wifiHire .wifidown {
    padding: 60 0 0 0; }
  .wifiHire .wifiicon {
    padding: 60 0 0 0; }
    .wifiHire .wifiicon ul {
      display: inline-block;
      margin: 0px;
      padding: 0px; }
      .wifiHire .wifiicon ul li {
        width: 300px;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 36px;
        color: #006ab8; }
        .wifiHire .wifiicon ul li div {
          padding: 60 0 0 0; }
  .wifiHire .wifipartnerBG {
    padding: 64 0 0 0; }
  .wifiHire .wifipartnerlist {
    position: relative;
    padding: 64 0 64 0;
    width: 1050px;
    margin: 0 auto; }
    .wifiHire .wifipartnerlist .item {
      float: left;
      width: 269px;
      height: 247px;
      padding: 0 40 44 40; }

/*# sourceMappingURL=scss.css.map */
